<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ipo_Protector.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Ipo_Protector.My.MySettings>
            <setting name="ActivationStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Firewall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startVPN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bootUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scan1Hour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monthKey" serializeAs="String">
                <value>0000-0000-0000-0000-0000-0000</value>
            </setting>
            <setting name="yearKey" serializeAs="String">
                <value>1111-1111-1111-1111-1111-1111</value>
            </setting>
            <setting name="lifetimeKey" serializeAs="String">
                <value>2222-2222-2222-2222-2222-2222</value>
            </setting>
            <setting name="serialKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="expiry" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="validation" serializeAs="String">
                <value>None</value>
            </setting>
        </Ipo_Protector.My.MySettings>
    </userSettings>
</configuration>